@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Biryani:wght@300&family=Crimson+Text:wght@600&family=Cutive+Mono&family=Dancing+Script:wght@600&family=Fjalla+One&family=Josefin+Sans:wght@100&family=Jost&family=Kdam+Thmor+Pro&family=Lato&family=Lobster&family=Maitree:wght@200&family=Manrope&family=Noto+Serif:wght@700&family=Open+Sans:wght@300&family=Orbitron:wght@700&family=Pacifico&family=Philosopher&family=Play&family=Playfair+Display:wght@400;500&family=Poppins:wght@500;600&family=Press+Start+2P&family=Quicksand&family=Raleway:wght@100&family=Roboto:wght@300&family=Rubik:wght@800&family=Urbanist:wght@500;600&display=swap');

// fonts
$main-font: 'Rubik', sans-serif;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f8efde;
}



