@use './index.scss';

.pet-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


a {
    text-decoration: none;
}

img {
    width: 300px;
    border-radius: 10px;
}

.info {
    width: 300px;
    height: 200px;
}

.pet-name {
    font-family: index.$main-font;
    font-size: clamp(1.5rem, 2.5vw, 4.5rem);
    color: #ef7d66;
}

.pet-info {
    font-family: index.$second-font;
    font-size: clamp(.8rem, 1.2vw, 2.0rem);
    color: #ef7d66;
}