.pet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 200px;
}