.search-div {
    display: flex;
    align-content: center;
    justify-content: center;
}

.search-form {
    width: 300px;
    display: inline-block;
    height: 200px;
    border: 5px solid black;
    margin-bottom: 20px;
    padding: 10px;

}

label {
    padding: 10px;
}

select {
    width: 250px;
    padding: 5px;
    border-radius: 10px;
}

.animal-div, .breed-div {
    margin-bottom: 20px;
}